<h1 align="center">name: <%= @rec.name.capitalize%></h1>
<div class="well col-md-8 col-md-offset-2">
   <h4 class="center description">Description:</h4>
   <hr>
   <p> 
     created by
   </p>
   <%= @rec.chef.name%>   
</div>